In [ ]:
1 - 1/3 + 1/5 - 1/7 - 1/9 + 1/11

In [27]:
seriesToPrint = ""
numberToIncrement = 3
Flag = True
for i in range(1,7):
    if i == 1:
        seriesToPrint = "1 "
    else:
        if Flag:
            seriesToPrint = seriesToPrint + "-" + str(1) + '/' + str(numberToIncrement) + ' '
            numberToIncrement = numberToIncrement + 2
            Flag = False
            print(seriesToPrint)
        if not Flag:
            seriesToPrint =  seriesToPrint + "+" + str(1) + '/' + str(numberToIncrement) + ' '
            numberToIncrement = numberToIncrement + 2
            Flag = True
            print(seriesToPrint)
    print(seriesToPrint)

1
1 -1/3
1 -1/3 +1/5
1 -1/3 +1/5
1 -1/3 +1/5 -1/7
1 -1/3 +1/5 -1/7 +1/9
1 -1/3 +1/5 -1/7 +1/9
1 -1/3 +1/5 -1/7 +1/9 -1/11
1 -1/3 +1/5 -1/7 +1/9 -1/11 +1/13
1 -1/3 +1/5 -1/7 +1/9 -1/11 +1/13
1 -1/3 +1/5 -1/7 +1/9 -1/11 +1/13 -1/15
1 -1/3 +1/5 -1/7 +1/9 -1/11 +1/13 -1/15 +1/17
1 -1/3 +1/5 -1/7 +1/9 -1/11 +1/13 -1/15 +1/17
1 -1/3 +1/5 -1/7 +1/9 -1/11 +1/13 -1/15 +1/17 -1/19
1 -1/3 +1/5 -1/7 +1/9 -1/11 +1/13 -1/15 +1/17 -1/19 +1/21
1 -1/3 +1/5 -1/7 +1/9 -1/11 +1/13 -1/15 +1/17 -1/19 +1/21

In [ ]:
1 
01
001
0001
00001

In [18]:
for i in range(0,5):
    print('0'*i + '1')

1
01
001
0001
00001

In [9]:
0112358 # fibonacci series

-2

In [ ]:
lastnumber = 0
last2ndNumber = 0
for i in range(1,10):
    if i = 1:
        print "0"
        lastnumber = 0
    else if i == 2:
        print "1"
        last2ndNumber =

In [ ]:
#sorting without using sort function

In [ ]:
a = [1,3,2,4]
for

In [15]:
#print matrix of 3 dimention
import numpy as np
matrix = np.matrix(3)
matrix

matrix([[3]])

In [48]:
# list comprehension


# create list
list1 = [1,2,3,4,5]
# even numbers
even = [x for x in list1 if x % 2 == 0 ] 
print( even)

# multiple loop
list2 = ["hello this is santosh"," this is hemalata", " This is sonalee" ]
word =  [word for sentence in list2 for word in sentence.split()  if word[0] == 'h']
print(word)

[2, 4]
['hello', 'hemalata']

In [50]:
# Dictionary comprehension
#{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

newDict = { i:i**2 for i in range(1,9)}
newDict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [57]:
# map
first_list = [2, 4, 5]
print(map(lambda x: x**2, first_list))
print(list(map(lambda x: x**2, first_list)))


second_list = [5,6,4,8,9] #[125, 216, 64, 512, 729]
print(list(map(lambda x: x**3, second_list)))



# input [ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]
# output ['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']
thirdlist= [ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]
listname = thirdlist[0]
listsurname = thirdlist[1]
names = list(map(lambda x,y: x +" "+ y, listname,listsurname))
print(names)

<map object at 0x0000029EC3F376D0>
[4, 16, 25]
[125, 216, 64, 512, 729]
['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [58]:
#filter
#You are given a list of strings such as input_list =  ['hdjk', 'salsap', 'sherpa'].
#Extract a list of names that start with an ‘s’ and end with a ‘p’ (both 's' and 'p' are lowercase) in input_list.

input_list =  ['hdjk', 'salsap', 'sherpa']
filterData = lambda x: x[0] == 's' and x[-1] == 'p'
sp = list(filter(filterData,input_list))
print(sp)

['salsap']

In [65]:
# reduce
#Using the Reduce function, concatenate a list of words in input_list, and print the output as a string.
#If input_list = ['I','Love','Python'], the output should be the string 'I Love Python'.

from functools import reduce

#write your code here.
input_list = ['I','Love','Python']
string1 = reduce(lambda x,y : x +" "+ y ,input_list)

print(string1)


#You are given a list of numbers such as input_list = [31, 63, 76, 89]. Find and print the largest number in input_list using the reduce() function.

input_list3 = [31, 63, 76, 89]
greater = reduce(lambda x,y: x if x > y else y ,input_list3 )
greater

I Love Python

89

In [ ]:
# list to tuple conversion

In [66]:
# list to set conversion
input_list= [[2, 5, 9, 12, 13, 15, 16, 17, 18, 19],[2, 4, 5, 6, 7, 9, 13, 16], [1, 2, 5, 9, 10, 11, 12, 13, 15]]
C = input_list[0]
F = input_list[1]
H = input_list[2]

# Write your code here
cricket = set(C)
football = set(F)
Hockey = set(H)

allThreeSport = list(cricket.intersection(football).intersection(Hockey))
print(sorted(allThreeSport))

cricketFootballNotHockey= list(cricket.intersection(football).difference(Hockey))
print(sorted(cricketFootballNotHockey))

cricketFootballNotHockey= cricket.intersection(football).difference(Hockey)
cricketHockeyNotFootball= cricket.intersection(Hockey).difference(football)
footballHockeyNotCricket= football.intersection(Hockey).difference(cricket)
allClubed = list(cricketFootballNotHockey.union(cricketHockeyNotFootball).union(footballHockeyNotCricket))
print(sorted(allClubed))


allStudent = range(1,21)
allStudents = set(allStudent)
noneOfTheSport = list(allStudents.difference(cricket.union(football).union(Hockey)))
print(sorted(noneOfTheSport))

[2, 5, 9, 13]
[16]
[12, 15, 16]
[3, 8, 14, 20]

In [ ]:
# lambda function

#Lambda expressions are also another way of defining functions but with a difference. They aren't capable of multiple expressions and can only handle single expressions. The format of lambda statements is as follows:
#function_name  = lambda <space>  input_parameters  :  output_parameters
#Eg: 
join_by_comma = lambda x : ','.join(x)


test = lambda x : True if (x > 10 and x < 20) else False
greater = lambda a,b : a if (a > b) else b

print(greater(a,b))

In [ ]:
# apply function

In [ ]:
# dictionary comprehension

In [ ]:
# list to dataframe

In [ ]:
# dict to dataframe

In [ ]:
# for loop with two list 
# for loop with enumerate and zip

In [ ]:
# while loop

In [ ]:
# NLP basic code
    # read data
    # remove unwanted characters
    # convert to lower case
    # stemming and lammetization
    # create bag of words ( term document matrices)
    # TF- IDF
    # different similarity scores
    # Word to vec conversion 
    # Gensin implementation
    # POS tagging
    # sentiment analysis using vader